<br><br>

<p>currency-exchange works!</p>

<br><br>
<div fxLayout="column" fxLayoutAlign="space-around center" >
 
<mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput name = "amount" #amount>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Buy</mat-label>
    <mat-select #from>
      <mat-option value="btc">BTC</mat-option>
      <mat-option value="eth">ETH</mat-option>
      <mat-option value="ltc">LTC</mat-option>
      <mat-option value="xmr">XMR</mat-option>
      <mat-option value="trx">TRX</mat-option>
      <mat-option value="usd">USD</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Pay With</mat-label>
    <mat-select #to>
      <mat-option value="btc">BTC</mat-option>
      <mat-option value="eth">ETH</mat-option>
      <mat-option value="ltc">LTC</mat-option>
      <mat-option value="xmr">XMR</mat-option>
      <mat-option value="trx">TRX</mat-option>
      <mat-option value="usd">USD</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="basic"
  (click)='exchange(amount.value, from.value, to.value)'
  >Exchange</button>
</div>