<div class="content">
    <div fxLayout="row wrap">
        <div fxFlex="20%">
            <mat-card class="mat-elevation-z6">
                <div class="currency-type">
                    <p>BTC</p>
                </div>
                <br>
                <div>
                    <p class="currency-price">{{prices.BTC | currency}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="20%">
            <mat-card class="mat-elevation-z6">
                <div class="currency-type">
                    <p>ETH</p>
                </div>
                <br>
                <div>
                    <p class="currency-price">{{prices.ETH | currency}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="20%">
            <mat-card class="mat-elevation-z6">
                <div class="currency-type">
                    <p>LTC</p>
                </div>
                <br>
                <div>
                    <p class="currency-price">{{prices.LTC | currency}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="20%">
            <mat-card class="mat-elevation-z6">
                <div class="currency-type">
                    <p>MONERO</p>
                </div>
                <br>
                <div>
                    <p class="currency-price">{{prices.MONERO | currency}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="20%">
            <mat-card class="mat-elevation-z6">
                <div class="currency-type">
                    <p>DOGE</p>
                </div>
                <br>
                <div>
                    <p class="currency-price">{{prices.DOGE | currency}}</p>
                </div>
            </mat-card>
        </div>
    </div>