<br><br>
<table>
  <tr>
    <th>            <div fxLayout="column" fxLayoutAlign="space-around center" >
      <img src="/assets/img/P2Login.png">
       
      <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput name = "username" #username>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type= "password" matInput name = "password" #password>
        </mat-form-field>
        <!-- <div>
          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" >
          </ngx-recaptcha2>
        </div> -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <form id="simpleForm" action="backEndServiceUrl" method="POST">
          <button class="g-recaptcha" data-sitekey="yourKey" data-callback="onLogin">Login</button>
        </form>
        <button mat-raised-button color="gray"
        (click)='login(username.value, password.value)'
        >Login</button>
        <br> {{message}}
      </div></th>
    <th><app-signup></app-signup></th>
    
  </tr>
</table>
