.content{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: x-large;
    font-weight: 600;
    padding-left: 2em;
}

.amounts{
    color: darkslategray;
}

.cryptos{
    padding-left: 4em;
}

/* table {
    margin: auto;  
    
    padding: 10px;
}

table th {
    margin: 0;
    border: 2px solid darkslategray;
    padding: 30px;
}
 */
