<br>
<br>
<br>
<div class="content" *ngIf='user'>
    Total Portfolio Value: <span class="amounts">{{user.total | currency}}</span><br><br>
    Cash Holdings (USD): <span class="amounts">{{user.cash | currency}}</span><br><br>
    Crypto Holdings: <br><br>
        <div class="cryptos">
            BTC: <span class="amounts">{{user.btc | currency}}</span><br><br>
            ETH: <span class="amounts">{{user.eth | currency}}</span><br><br>
            LTC: <span class="amounts">{{user.ltc | currency}}</span><br><br>
            MXR: <span class="amounts">{{user.mxr | currency}}</span><br><br>
            DOG: <span class="amounts">{{user.dog | currency}}</span><br><br>
        </div>
        <hr>
        Net Gain (loss): <span class="amounts">{{user.netGain | currency | negativeParens}}</span><br><br>

</div>
