<br>
<br>
<br>
<div class="content">
    Total Portfolio Value: <span class="amounts">$75,000.00</span><br><br>
    Cash Holdings (USD): <span class="amounts">$25,000.00</span><br><br>
    Crypto Holdings: <br><br>
        <div class="cryptos">
            BTC: <span class="amounts">$15,000.00</span><br><br>
            ETH: <span class="amounts">$5,000.00</span><br><br>
            LTC: <span class="amounts">$20,000.00</span><br><br>
            MXR: <span class="amounts">$5,000.00</span><br><br>
            DOG: <span class="amounts">$5,000.00</span><br><br>
        </div>
        <hr>
        Net Gain(loss): <span class="amounts">$3.50</span><br><br>

    </div>
