
<div fxLayout="column" fxLayoutAlign="space-around center" >
<img src="/assets/img/P2Register.png">
 
<mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput name = "username" #username>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type= "password" matInput name = "password" #password>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput name = "email" #email>
  </mat-form-field>

  <button mat-raised-button color="basic"
  (click)='reg(username.value, password.value, email.value)'
  >Register</button>
</div>
 